<div data-uplette-page="page-0" data-uplette-page-title="Samsung Galaxy S5 - SmartSwitch (Page)">
    <div data-uplette-section="section-0" data-uplette-section-title="Header" class="section_header" data-uplette-context-match="true" data-uplette-context-action="always-show">
	    <div data-uplette-element="element-0" data-uplette-element-title="Logo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header_logo">
                <p>Logo</p>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Link" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header_link">
                <p>Link</p>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-1" data-uplette-section-title="Features" class="section_features" data-uplette-context-match="true" data-uplette-context-action="always-show">
	    <div data-uplette-element="element-0" data-uplette-element-title="Feature - Smart Switch" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="button_smartswitch">
                <p>Feature - Smart Switch</p>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Feature - Dust Water" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="button_dustwater">
                <p>Feature - Dust Water</p>
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature - Power Saver" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="button_powersaver">
                <p>Feature - Power Saver</p>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-2" data-uplette-section-title="Buttons" class="section_buttons" data-uplette-context-match="true" data-uplette-context-action="always-show">
        <div data-uplette-element="element-0" data-uplette-element-title="Button - Buy" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="button_buy">
                <p>Button - Buy</p>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Button - Switch" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="button_switch">
                <p>Button - Switch</p>
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Button - Watch" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="button_watch">
                <p>Button - Watch</p>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-3" data-uplette-section-title="Phone" class="section_phone" data-uplette-context-match="true" data-uplette-context-action="always-show">
        <div data-uplette-element="element-0" data-uplette-element-title="Phone - Smart Switch" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="phone_smartswitch">
                <p>Phone - Smart Switch</p>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Phone - Dust Water" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="phone_dustwater">
                <p>Phone - Dust Water</p>
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Phone - Power Saver" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="phone_powersaver">
                <p>Phone - Power Saver</p>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-4" data-uplette-section-title="Promo" class="section_promo" data-uplette-context-match="true" data-uplette-context-action="always-show">
        <div data-uplette-element="element-0" data-uplette-element-title="Promo - Rogers" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="promo_rogers">
                <p>Rogers</p>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Promo - Telus" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="promo_telus">
                <p>Telus</p>
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Promo - Bell" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="promo_bell">
                <p>Bell</p>
            </div>
        </div>
    </div>
</div>