@import "lesshat.less";

/* Main */

body{
	padding: 25px;
}

/* Sections */

/* Buttons */

.button{
	a{
		width: 33.3333333%;
		padding: 10px;
		box-sizing: border-box;
		background: rgba(0,0,0,0.5);
		border-radius: 1000px;
		float: left;
		color: white;
		font-weight: bold;
		text-transform: uppercase;
		text-align: right;
	}
}

.button_buy{
	.button;
}

.button_switch{
	.button;
}

.button_watch{
	.button;
}