<div data-uplette-page="page-0" data-uplette-page-title="Samsung Galaxy S5 - SmartSwitch (Page)">
    <div data-uplette-section="section-0" data-uplette-section-title="Telus - SmartSwitch" class="section_carrier fe_ss" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-is="telus" data-uplette-context-rule-version-not="v2,v3">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/4530ac189bc041c3b1464ec982373739.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                iOS TO GALAXY,
                <br>NO SWEAT.
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature-explanation">
                <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/573e50ee99164699bd99478ba8bf74f6.png">
                <h2>SMART SWITCH</h2>
                <p>Seamlessly transfers iOS contacts, photos and music.</p>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-3" data-uplette-element-title="Carrier Promo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="carrier-promo" href="http://www.telus.com/en/bc/mobility/devices/samsung-galaxy-s5/">
                    <img class="carrier-logo" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/6c0908c7b222491ba71304141559c6fe.png">
                    <p>SAMSUNG GALAXY S5 FOR $100
                        <br>ON A 2-YEAR TELUS SHAREPLUS PLAN.</p>
                    <div style="clear: both; height: 1px;"></div>
                </a>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/eOBHNJibTao" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button buy-button" href="https://mapsengine.google.com/map/u/0/embed?mid=z5LMReCo5uuY.kfi11PSkqITQ">Buy Now</a>
                <a class="button switch-button" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-1" data-uplette-section-title="Telus - Nine Lives" class="section_carrier fe_nl" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-is="telus" data-uplette-context-rule-version-is="v2">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/4530ac189bc041c3b1464ec982373739.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                DOES YOUR PHONE HAVE NINE LIVES?
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature">
                <div class="feature-explanation">
                    <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/d719431f6453449cb6ffafb77e62d058.png">
                    <h2>ULTRA POWER SAVING MODE</h2>
                    <p>Extends power when you need it most.</p>
                    <a href="#" class="read-more">READ MORE +</a>
                    <div style="clear: both; height: 1px;"></div>
                </div>
                <div class="feature-info">
                    <p>Use the Power Saving Mode to save and extend your battery life so you no longer have to worry about missing important calls when your phone is running low on battery. In addition, the new Ultra Power Saving Mode changes your screen
                        to black and white and shuts down all unnecessary features to dramatically minimize battery consumption.</p>
                </div>
            </div>
        </div>
        <div data-uplette-element="element-3" data-uplette-element-title="Carrier Promo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="carrier-promo" href="http://www.telus.com/en/bc/mobility/devices/samsung-galaxy-s5/">
                    <img class="carrier-logo" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/6c0908c7b222491ba71304141559c6fe.png">
                    <p>SAMSUNG GALAXY S5 FOR $100
                        <br>ON A 2-YEAR TELUS SHAREPLUS PLAN.</p>
                    <div style="clear: both; height: 1px;"></div>
                </a>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/-jUneawIQSk" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button buy-button" href="https://mapsengine.google.com/map/u/0/embed?mid=z5LMReCo5uuY.kfi11PSkqITQ">Buy Now</a>
                <a class="button switch-button" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-2" data-uplette-section-title="Telus - Dust Water" class="section_carrier fe_dw" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-is="telus" data-uplette-context-rule-version-is="v3">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/3db45aa3c0a04862896aa63cd1872c76.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                <span class="smalltext">OUR PHONE ANSWERS THE CALL.</span>
                <br>RAIN OR SHINE.
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature">
                <div class="feature-explanation">
                    <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/f017dfa3e68c424e8ddf7d15a83f706f.png">
                    <h2>DUST + WATER RESISTANT</h2>
                    <p>Made to last longer and stronger.</p>
                    <a href="#" class="read-more">READ MORE +</a>
                    <div style="clear: both; height: 1px;"></div>
                </div>
                <div class="feature-info">
                    <p>With an IP67 certification, Galaxy S5 is resistant to sweat, rain, liquids, sand and dust, so your phone is protected for&nbsp;any activity and situation.</p>
                </div>
            </div>
        </div>
        <div data-uplette-element="element-3" data-uplette-element-title="Carrier Promo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="carrier-promo" href="http://www.telus.com/en/bc/mobility/devices/samsung-galaxy-s5/">
                    <img class="carrier-logo" src="https://uplettelibrary.blob.core.windows.net/dbd0e1ce-bba4-4382-a135-37334fca6433/Image/ebd672e5a16545df861e946c98b002bc.png">
                    <p>SAMSUNG GALAXY S5 FOR $100
                        <br>ON A 2-YEAR TELUS SHAREPLUS PLAN.</p>
                    <div style="clear: both; height: 1px;"></div>
                </a>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/Z91cw_9QQEc" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button buy-button" href="https://mapsengine.google.com/map/u/0/embed?mid=z5LMReCo5uuY.kfi11PSkqITQ">Buy Now</a>
                <a class="button switch-button" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-3" data-uplette-section-title="Rogers - SmartSwitch" class="section_carrier fe_ss" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-is="rogers" data-uplette-context-rule-version-not="v2,v3">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/4530ac189bc041c3b1464ec982373739.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                iOS TO GALAXY,
                <br>NO SWEAT.
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature-explanation">
                <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/573e50ee99164699bd99478ba8bf74f6.png">
                <h2>SMART SWITCH</h2>
                <p>Seamlessly transfers iOS contacts, photos and music.</p>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-3" data-uplette-element-title="Carrier Promo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="carrier-promo" href="http://www.rogers.com/web/content/samsung">
                    <img class="carrier-logo" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/64788f26679740409514a210b394ebc8.png">
                    <p>SAMSUNG GALAXY S5 FOR $99.99
                        <br>ON A 2-YEAR ROGERS SHARE EVERYTHING™ PLAN.</p>
                    <div style="clear: both; height: 1px;"></div>
                </a>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/eOBHNJibTao" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button buy-button" href="https://mapsengine.google.com/map/u/0/embed?mid=z5LMReCo5uuY.kfi11PSkqITQ">Buy Now</a>
                <a class="button switch-button" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-4" data-uplette-section-title="Rogers - Nine Lives" class="section_carrier fe_nl" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-is="rogers" data-uplette-context-rule-version-is="v2">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/4530ac189bc041c3b1464ec982373739.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                DOES YOUR PHONE HAVE NINE LIVES?
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature">
                <div class="feature-explanation">
                    <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/d719431f6453449cb6ffafb77e62d058.png">
                    <h2>ULTRA POWER SAVING MODE</h2>
                    <p>Extends power when you need it most.</p>
                    <a href="#" class="read-more">READ MORE +</a>
                    <div style="clear: both; height: 1px;"></div>
                </div>
                <div class="feature-info">
                    <p>Use the Power Saving Mode to save and extend your battery life so you no longer have to worry about missing important calls when your phone is running low on battery. In addition, the new Ultra Power Saving Mode changes your screen
                        to black and white and shuts down all unnecessary features to dramatically minimize battery consumption.</p>
                </div>
            </div>
        </div>
        <div data-uplette-element="element-3" data-uplette-element-title="Carrier Promo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="carrier-promo" href="http://www.rogers.com/web/content/samsung">
                    <img class="carrier-logo" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/64788f26679740409514a210b394ebc8.png">
                    <p>SAMSUNG GALAXY S5 FOR $99.99
                        <br>ON A 2-YEAR ROGERS SHARE EVERYTHING™ PLAN.</p>
                    <div style="clear: both; height: 1px;"></div>
                </a>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/-jUneawIQSk" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button buy-button" href="https://mapsengine.google.com/map/u/0/embed?mid=z5LMReCo5uuY.kfi11PSkqITQ">Buy Now</a>
                <a class="button switch-button" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-5" data-uplette-section-title="Rogers - Dust Water" class="section_carrier fe_dw" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-is="rogers" data-uplette-context-rule-version-is="v3">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/3db45aa3c0a04862896aa63cd1872c76.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                <span class="smalltext">OUR PHONE ANSWERS THE CALL.</span>
                <br>RAIN OR SHINE.
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature">
                <div class="feature-explanation">
                    <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/f017dfa3e68c424e8ddf7d15a83f706f.png">
                    <h2>DUST + WATER RESISTANT</h2>
                    <p>Made to last longer and stronger.</p>
                    <a href="#" class="read-more">READ MORE +</a>
                    <div style="clear: both; height: 1px;"></div>
                </div>
                <div class="feature-info">
                    <p>With an IP67 certification, Galaxy S5 is resistant to sweat, rain, liquids, sand and dust, so your phone is protected for&nbsp;any activity and situation.</p>
                </div>
            </div>
        </div>
        <div data-uplette-element="element-3" data-uplette-element-title="Carrier Promo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="carrier-promo" href="http://www.rogers.com/web/content/samsung">
                    <img class="carrier-logo" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/2f735a11a905417c9e77b593a831f36d.png">
                    <p>SAMSUNG GALAXY S5 FOR $99.99
                        <br>ON A 2-YEAR ROGERS SHARE EVERYTHING™ PLAN.</p>
                    <div style="clear: both; height: 1px;"></div>
                </a>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/Z91cw_9QQEc" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button buy-button" href="https://mapsengine.google.com/map/u/0/embed?mid=z5LMReCo5uuY.kfi11PSkqITQ">Buy Now</a>
                <a class="button switch-button" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-6" data-uplette-section-title="Bell - Nine Lives" class="section_carrier fe_nl" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-is="bell" data-uplette-context-rule-version-not="v3">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/4530ac189bc041c3b1464ec982373739.png" class="samsung-logo">
                <a href="http://samsung.com">Samsung.com</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                DOES YOUR PHONE HAVE NINE LIVES?
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature">
                <div class="feature-explanation">
                    <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/d719431f6453449cb6ffafb77e62d058.png">
                    <h2>ULTRA POWER SAVING MODE</h2>
                    <p>Extends power when you need it most.</p>
                    <a href="#" class="read-more">READ MORE +</a>
                    <div style="clear: both; height: 1px;"></div>
                </div>
                <div class="feature-info">
                    <p>Use the Power Saving Mode to save and extend your battery life so you no longer have to worry about missing important calls when your phone is running low on battery. In addition, the new Ultra Power Saving Mode changes your screen
                        to black and white and shuts down all unnecessary features to dramatically minimize battery consumption.</p>
                </div>
            </div>
        </div>
        <div data-uplette-element="element-3" data-uplette-element-title="Carrier Promo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="carrier-promo" href="http://www.bell.ca/Mobility/Products/Samsung-Galaxy-S5">
                    <img class="carrier-logo" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/5dba01a9d9b04d2eb936c3a9082b6b37.png">
                    <p>GREAT DEALS ON THE SAMSUNG GALAXY S5
                        <br>NOW ON SALE</p>
                    <div style="clear: both; height: 1px;"></div>
                </a>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/-jUneawIQSk" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button buy-button fullwidth" href="https://mapsengine.google.com/map/u/0/embed?mid=z5LMReCo5uuY.kfi11PSkqITQ">Buy Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-7" data-uplette-section-title="Bell - Dust Water" class="section_carrier fe_dw" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-is="bell" data-uplette-context-rule-version-is="v3">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/3db45aa3c0a04862896aa63cd1872c76.png" class="samsung-logo">
                <a href="http://samsung.com">Samsung.com</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                <span class="smalltext">OUR PHONE ANSWERS THE CALL.</span>
                <br>RAIN OR SHINE.
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature">
                <div class="feature-explanation">
                    <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/f017dfa3e68c424e8ddf7d15a83f706f.png">
                    <h2>DUST + WATER RESISTANT</h2>
                    <p>Made to last longer and stronger.</p>
                    <a href="#" class="read-more">READ MORE +</a>
                    <div style="clear: both; height: 1px;"></div>
                </div>
                <div class="feature-info">
                    <p>With an IP67 certification, Galaxy S5 is resistant to sweat, rain, liquids, sand and dust, so your phone is protected for&nbsp;any activity and situation.</p>
                </div>
            </div>
        </div>
        <div data-uplette-element="element-3" data-uplette-element-title="Carrier Promo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a href="http://www.bell.ca/Mobility/Products/Samsung-Galaxy-S5" class="carrier-promo">
                    <img class="carrier-logo" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/5dba01a9d9b04d2eb936c3a9082b6b37.png">
                    <p>GREAT DEALS ON THE SAMSUNG GALAXY S5
                        <br>NOW ON SALE</p>
                    <div style="clear: both; height: 1px;"></div>
                </a>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/Z91cw_9QQEc" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button buy-button fullwidth" href="https://mapsengine.google.com/map/u/0/embed?mid=z5LMReCo5uuY.kfi11PSkqITQ">Buy Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-8" data-uplette-section-title="Videotron - SmartSwitch" class="section_carrier fe_ss" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-is="videotron" data-uplette-context-rule-version-not="v2,v3">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/4530ac189bc041c3b1464ec982373739.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                iOS TO GALAXY,
                <br>NO SWEAT.
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature-explanation">
                <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/573e50ee99164699bd99478ba8bf74f6.png">
                <h2>SMART SWITCH</h2>
                <p>Seamlessly transfers iOS contacts, photos and music.</p>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-3" data-uplette-element-title="Carrier Promo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="carrier-promo" href="http://www.videotron.com/residentiel/mobile/appareils-et-accessoires/telephones/samsung-galaxy-s5">
                    <img class="carrier-logo" src="https://uplettelibrary.blob.core.windows.net/dbd0e1ce-bba4-4382-a135-37334fca6433/Image/72d57f2941ab4cdb8eb8d1f4bb6018cf.png">
                    <p>SAMSUNG GS5 STARTING AT $0.*
                        <br>
                        <span class="smalltext">*WITH A $79.95 VIDEOTRON PLAN.</span>
                    </p>
                    <div style="clear: both; height: 1px;"></div>
                </a>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/eOBHNJibTao" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button buy-button" href="https://mapsengine.google.com/map/u/0/embed?mid=z5LMReCo5uuY.kfi11PSkqITQ">Buy Now</a>
                <a class="button switch-button" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-9" data-uplette-section-title="Videotron - Nine Lives" class="section_carrier fe_nl" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-is="videotron" data-uplette-context-rule-version-is="v2">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/4530ac189bc041c3b1464ec982373739.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                DOES YOUR PHONE HAVE NINE LIVES?
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature">
                <div class="feature-explanation">
                    <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/d719431f6453449cb6ffafb77e62d058.png">
                    <h2>ULTRA POWER SAVING MODE</h2>
                    <p>Extends power when you need it most.</p>
                    <a href="#" class="read-more">READ MORE +</a>
                    <div style="clear: both; height: 1px;"></div>
                </div>
                <div class="feature-info">
                    <p>Use the Power Saving Mode to save and extend your battery life so you no longer have to worry about missing important calls when your phone is running low on battery. In addition, the new Ultra Power Saving Mode changes your screen
                        to black and white and shuts down all unnecessary features to dramatically minimize battery consumption.</p>
                </div>
            </div>
        </div>
        <div data-uplette-element="element-3" data-uplette-element-title="Carrier Promo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="carrier-promo" href="http://www.videotron.com/residentiel/mobile/appareils-et-accessoires/telephones/samsung-galaxy-s5">
                    <img class="carrier-logo" src="https://uplettelibrary.blob.core.windows.net/dbd0e1ce-bba4-4382-a135-37334fca6433/Image/72d57f2941ab4cdb8eb8d1f4bb6018cf.png">
                    <p>SAMSUNG GS5 STARTING AT $0.*
                        <br>
                        <span class="smalltext">*WITH A $79.95 VIDEOTRON PLAN.</span>
                    </p>
                    <div style="clear: both; height: 1px;"></div>
                </a>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/-jUneawIQSk" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button buy-button" href="https://mapsengine.google.com/map/u/0/embed?mid=z5LMReCo5uuY.kfi11PSkqITQ">Buy Now</a>
                <a class="button switch-button" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-10" data-uplette-section-title="Videotron - Dust Water" class="section_carrier fe_dw" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-is="videotron" data-uplette-context-rule-version-is="v3">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/3db45aa3c0a04862896aa63cd1872c76.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                <span class="smalltext">OUR PHONE ANSWERS THE CALL.</span>
                <br>RAIN OR SHINE.
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature">
                <div class="feature-explanation">
                    <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/f017dfa3e68c424e8ddf7d15a83f706f.png">
                    <h2>DUST + WATER RESISTANT</h2>
                    <p>Made to last longer and stronger.</p>
                    <a href="#" class="read-more">READ MORE +</a>
                    <div style="clear: both; height: 1px;"></div>
                </div>
                <div class="feature-info">
                    <p>With an IP67 certification, Galaxy S5 is resistant to sweat, rain, liquids, sand and dust, so your phone is protected for&nbsp;any activity and situation.</p>
                </div>
            </div>
        </div>
        <div data-uplette-element="element-3" data-uplette-element-title="Carrier Promo" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="carrier-promo" href="http://www.videotron.com/residentiel/mobile/appareils-et-accessoires/telephones/samsung-galaxy-s5">
                    <img class="carrier-logo" src="https://uplettelibrary.blob.core.windows.net/dbd0e1ce-bba4-4382-a135-37334fca6433/Image/78e4cd6ed6024031b4708fd942807205.png">
                    <p>SAMSUNG GS5 STARTING AT $0.*
                        <br>
                        <span class="smalltext">*WITH A $79.95 VIDEOTRON PLAN.</span>
                    </p>
                    <div style="clear: both; height: 1px;"></div>
                </a>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/Z91cw_9QQEc" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button buy-button" href="https://mapsengine.google.com/map/u/0/embed?mid=z5LMReCo5uuY.kfi11PSkqITQ">Buy Now</a>
                <a class="button switch-button" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-11" data-uplette-section-title="Generic - SmartSwitch" class="section_carrier fe_ss" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-not="bell,rogers,telus,videotron"
    data-uplette-context-rule-version-not="v2,v3">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/4530ac189bc041c3b1464ec982373739.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                iOS TO GALAXY,
                <br>NO SWEAT.
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature-explanation">
                <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/573e50ee99164699bd99478ba8bf74f6.png">
                <h2>SMART SWITCH</h2>
                <p>Seamlessly transfers iOS contacts, photos and music.</p>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/eOBHNJibTao" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button switch-button fullwidth" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-12" data-uplette-section-title="Generic - Nine Lives" class="section_carrier fe_nl" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-not="bell,rogers,telus,videotron"
    data-uplette-context-rule-version-is="v2">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/4530ac189bc041c3b1464ec982373739.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                DOES YOUR PHONE HAVE NINE LIVES?
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature">
                <div class="feature-explanation">
                    <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/d719431f6453449cb6ffafb77e62d058.png">
                    <h2>ULTRA POWER SAVING MODE</h2>
                    <p>Extends power when you need it most.</p>
                    <a href="#" class="read-more">READ MORE +</a>
                    <div style="clear: both; height: 1px;"></div>
                </div>
                <div class="feature-info">
                    <p>Use the Power Saving Mode to save and extend your battery life so you no longer have to worry about missing important calls when your phone is running low on battery. In addition, the new Ultra Power Saving Mode changes your screen
                        to black and white and shuts down all unnecessary features to dramatically minimize battery consumption.</p>
                </div>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/-jUneawIQSk" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button switch-button fullwidth" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-13" data-uplette-section-title="Generic - Dust Water" class="section_carrier fe_dw" data-uplette-context-match="true" data-uplette-context-action="show-if" data-uplette-context-rule-carrier-not="bell,rogers,telus,videotron"
    data-uplette-context-rule-version-is="v3">
        <div data-uplette-element="element-0" data-uplette-element-title="Header Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="header-content">
                <img src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/3db45aa3c0a04862896aa63cd1872c76.png" class="samsung-logo">
                <a href="http://samsung.com/smartswitch">Samsung.com/SwitchNow</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
        <div data-uplette-element="element-1" data-uplette-element-title="Tagline Content" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="tagline-content">
                <span class="smalltext">OUR PHONE ANSWERS THE CALL.</span>
                <br>RAIN OR SHINE.
            </div>
        </div>
        <div data-uplette-element="element-2" data-uplette-element-title="Feature Explanation" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="feature">
                <div class="feature-explanation">
                    <img class="feature-icon" src="https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/f017dfa3e68c424e8ddf7d15a83f706f.png">
                    <h2>DUST + WATER RESISTANT</h2>
                    <p>Made to last longer and stronger.</p>
                    <a href="#" class="read-more">READ MORE +</a>
                    <div style="clear: both; height: 1px;"></div>
                </div>
                <div class="feature-info">
                    <p>With an IP67 certification, Galaxy S5 is resistant to sweat, rain, liquids, sand and dust, so your phone is protected for&nbsp;any activity and situation.</p>
                </div>
            </div>
        </div>
        <div data-uplette-element="element-4" data-uplette-element-title="Video" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div class="video-holder">
                <iframe src="https://www.youtube.com/embed/Z91cw_9QQEc" frameborder="0" allowfullscreen=""></iframe>
            </div>
        </div>
        <div data-uplette-element="element-5" data-uplette-element-title="Buttons" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <a class="button switch-button fullwidth" href="http://samsung.com/SwitchNow">Switch Now</a>
                <div style="clear: both; height: 1px;"></div>
            </div>
        </div>
    </div>
    <div data-uplette-section="section-14" data-uplette-section-title="Pixel" data-uplette-context-match="true" data-uplette-context-action="always-show">
        <div data-uplette-element="element-0" data-uplette-element-title="Pixel" data-uplette-element-type="text" data-uplette-context-match="true" data-uplette-context-action="always-show">
            <div>
                <div id="pxl">&nbsp;</div>
            </div>
        </div>
    </div>
</div>