body {
	width: 320px; 
}
*{-webkit-font-smoothing:antialiased}p,li,label,legend,input,select,span,div{font-family:Open Sans;color:#3a3a3a}a{font-family:Open Sans;color:#14b0e6}h1,h2,h3,h4,h5,h6{font-family:Open Sans;font-weight:bold;color:#3a3a3a}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;text-align:center}a{text-decoration:none}img{max-width:100%;height:auto;display:block;margin:0 auto}