.button a {
	width: 33.3333333%;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .5);
	border-radius: 1000px;
	float: left;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right
}
.button_buy a {
	width: 33.3333333%;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .5);
	border-radius: 1000px;
	float: left;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right
}
.button_switch a {
	width: 33.3333333%;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .5);
	border-radius: 1000px;
	float: left;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right
}
.button_watch a {
	width: 33.3333333%;
	padding: 10px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, .5);
	border-radius: 1000px;
	float: left;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right
}
body {
	font-size: 10px;
}
*, a, p, span, h2, div {
	text-align: left;
  color: #fff;
  text-shadow: 1px 2px #231F20;
}
.fe_dw *, .fe_dw a, .fe_dw p, .fe_dw span, .fe_dw h2, .fe_dw div {
	text-align: left;
  color: #414042;
  text-shadow: 1px 1px #eef2f8;
}
.fe_dw a.carrier-promo p, .fe_dw a.carrier-promo p span, .fe_dw a.carrier-promo, .fe_dw a.button {
	text-align: center;
  color: #fff;
  text-shadow: 1px 2px #463C40;
	text-decoration: none;
	border: none;
}
a.carrier-promo {
	display: block;
	text-decoration: none;
}
a.carrier-promo * {
	text-decoration: none;
	border: none;
}
.fe_dw a.button {
	text-align: right;
  color: #fff;
  text-shadow: 1px 2px #463C40;
}
body,
a {
    color: #fff;
    font-family: "samsung interface", helvetica, sans-serif;
}

.smalltext {
	font-size: 0.8em;
}
.tagline-content .smalltext {
	font-size: 0.5em;
}
img.samsung-logo {
    display: block;
    float: left;
    width: 50%;
}
.header-content {
    position: relative;
}
.header-content:after, .feature-explanation:after {
    /* clearfix */
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.header-content a {
    display: block;
    position: absolute;
    bottom: 20%;
    right: 0;
}
.section_carrier {
    padding: 1.5em;
    width: 100%;
    height: 100%;
}
.fe_ss {
    background: #414044 url('https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/5762aa5afcec45258975976b382d4211.jpg') no-repeat center center;
		background-size: cover;
}
.fe_nl {
    background: #4140aa url('https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/3212376018f946608dd01696d7c9fda3.jpg') no-repeat center center;
		background-size: cover;
}
.fe_dw {
    background: #e2e2e2 url('https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/f9b524f6d9d0428eabdfcc2c678dc7fa.jpg') no-repeat center center;
		background-size: cover;
}
.tagline-content {
    font-size: 3em;
    text-align: left;
    font-weight: bold;
    line-height: 0.9;
    margin-top: 0.5em;
}
a {text-decoration: underline;}

.feature-explanation {
	height: 5em;
	margin: 1.6em 0;
}
.fe_ss .feature-explanation h2, .fe_nl .feature-explanation h2 {
	margin: 0; 
	font-size: 1.5em;
	line-height: 1;
}
.feature-explanation p {
	margin: 0.25em 0;
	font-size: 0.9em;
}
.feature-explanation a {
	font-weight: bold;
}
img.feature-icon {
	height: 4.5em; 
	width: 4.5em;
	display: block; 
	float: left; 
	margin-right: 1.5em;
}
.feature-info {
	font-size: 1.2em;
	display: none;
}

.carrier-promo {
	padding: 1em 3em;
	background: rgba(35, 31, 32, 0.5);
	border-radius: 2px;
	margin: 1.6em 0;
}
.carrier-promo img.carrier-logo {
	height: 1.8em;
}
.carrier-promo p {
	font-size: 1.2em;
	text-align: center;
	margin-top: 0.5em;
	font-weight: bold;
}

a.button {
	width: 48%;
	padding: 1em;
	background-color: rgba(35, 31, 32, 0.5);
	border-radius: 2em;
	float: left;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	text-align: right;
	text-decoration: none;
}
a.button:first-child {
	margin-right: 4%;
}
a.button.fullwidth {
	width: 100%;
	margin: 0;
}
a.button.buy-button {
	background: rgba(35, 31, 32, 0.5) url('https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/5f7f586ebff94de59f4b52b7e447ecb3.png') no-repeat 1em center;
	background-size: auto 1em;
}
a.button.switch-button {
	background: rgba(35, 31, 32, 0.5) url('https://uplettelibrary.blob.core.windows.net/5f69a250-4d4c-4b69-9d26-667b6181b767/Image/40fe496589dd4642816dd84b4a6b7ca0.png') no-repeat 1em center;
	background-size: auto 1em;
}

.video-holder {
	width: 100%;
	margin-bottom: 1.6em;
}

.video-holder iframe {
	width: 100%;
	height: 100%;
}